# vim files directories that should not be tracked
.vim/bundle/
.vim/.netrwhist
.vim/spell/en.utf-8*
.vim/undo/
.vim/view/

# starship installer
install.sh

# Hack font
Hack.zip

.vscode/
.mypy_cache/
.pytest_cache/
__pycache__/
tmp/
TODO*
